.button-container {
  background: var(--primary-darker-color);
  border-radius: 6px;
  color: var(--white-color);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 2px 2px #00519a;

}

.button-container:hover {
  background-color: #00519a;

}

.button-disabled {
  opacity: 0.6;
  //cursor: not-allowed;
}

.button-container:active {
  background-color: var(--primary-darker-color);
  box-shadow: 2px 2px #666;
  transform: translateY(1px);
}