.tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100% - 20px);
  background: var(--primary-color);
  padding: 4px;
  gap: 0.25rem;
  flex-wrap: wrap;
  overflow: auto;
}