.toolbar-container {
  min-height: 50px;
  background: white;
}

.toolbar-top {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  background: var(--primary-color);
  color: var(--primary-color--button);
  border-bottom: 2px solid var(--primary-darker-color);
}

.custom-link {
  text-decoration: none;
  color: var(--primary-color--button);
}

.span-no-link {
  color:  var(--primary-color--button);
}


.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}