.window-container {
  position: absolute;
  //background: red;
 }

.window-content {
  margin-top: -6px;
  overflow: auto;
  border: 6px solid;
  border-radius:  6px;
  display: flex;
  justify-content: center;
  background: white;
}

.window-image {
  max-width: 100%;
  height: auto;
}


.no-draggable-img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 768px) {
  .window-container {
    position: static;
  }
}

