.window-container {
  position: absolute;
  //background: red;
 }

.window-content {
  margin-top: -6px;
  overflow: auto;
  border-bottom: 6px solid #42519a;
  border-left: 6px solid #42519a;
  border-right: 6px solid #42519a;
  border-top: 6px solid #42519a;
  border-top-right-radius:  6px;
  border-top-left-radius:  6px;
  border-bottom-left-radius:  6px;
  border-bottom-right-radius:  6px;

  display: flex;
  justify-content: center;
  background: white;
}

.window-image {
  max-width: 100%;
  height: auto;
}


@media only screen and (max-width: 768px) {
  .window-container {
    position: static;
  }
}

