.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  //border: 2px solid red;
  height: 100vh;
  max-width: 90%;
  margin: auto;
  gap: 1rem;
}

.LogoHeader {
  width: 400px;
  height: 300px;
}

.Header {
  height: 10vh;
  width: 100%;
  //background: green;
}

.Footer {
  height: 5vh;
  width: 100%;
  //background: blue;
}

.Layout {
  overflow: auto;
  width: 100%;
  height: 85vh;
  //border: 2px solid orange;
  //background: purple;
}
