.App {
  background: green;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 2px solid red;
}

.Layout {
  max-width: 90%;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}